/* Color Theme Swatches in Hex */
.top-view-Medical---colorful-pastel-paper-for-background-1-hex { color: #C9D3F2; }
.top-view-Medical---colorful-pastel-paper-for-background-2-hex { color: #52E2F2; }
.top-view-Medical---colorful-pastel-paper-for-background-3-hex { color: #ACF2DE; }
.top-view-Medical---colorful-pastel-paper-for-background-4-hex { color: #F2EB8D; }
.top-view-Medical---colorful-pastel-paper-for-background-5-hex { color: #F2E399; }

/* Color Theme Swatches in RGBA */
.top-view-Medical-----paper-for-background-1-rgba { color: rgba(201, 211, 242, 1); }
.top-view-Medical-----paper-for-background-2-rgba { color: rgba(82, 226, 242, 1); }
.top-view-Medical-----paper-for-background-3-rgba { color: rgba(171, 242, 222, 1); }
.top-view-Medical-----paper-for-background-4-rgba { color: rgba(242, 235, 140, 1); }
.top-view-Medical-----paper-for-background-5-rgba { color: rgba(242, 227, 152, 1); }

/* Color Theme Swatches in HSLA */
.top-view-Medical----pastel-paper-for-background-1-hsla { color: hsla(224, 61, 86, 1); }
.top-view-Medical----pastel-paper-for-background-2-hsla { color: hsla(185, 86, 63, 1); }
.top-view-Medical----pastel-paper-for-background-3-hsla { color: hsla(163, 73, 81, 1); }
.top-view-Medical----pastel-paper-for-background-4-hsla { color: hsla(56, 79, 75, 1); }
.top-view-Medical----pastel-paper-for-background-5-hsla { color: hsla(50, 77, 77, 1); }


/*-----------------------------------------------------------------------------



/*-----------------------------------------------------------------------------



/* Color Theme Swatches in Hex */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-hex { color: #A8D93C; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-hex { color: #F1B505; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-hex { color: #F09F04; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-hex { color: #BE8D62; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-hex { color: #BC1B1A; }

/* Color Theme Swatches in RGBA */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-rgba { color: rgba(168, 216, 59, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-rgba { color: rgba(240, 181, 4, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-rgba { color: rgba(239, 158, 4, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-rgba { color: rgba(189, 140, 98, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-rgba { color: rgba(188, 26, 26, 1); }

/* Color Theme Swatches in HSLA */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-hsla { color: hsla(0, 67, 54, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-hsla { color: hsla(0, 95, 48, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-hsla { color: hsla(0, 96, 47, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-hsla { color: hsla(0, 41, 56, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-hsla { color: hsla(0, 75, 41, 1); }
