

/* Color Theme Swatches in Hex */
.Patient-8-1-hex { color: #A8EBB4; }
.Patient-8-2-hex { color: #578F8C; }
.Patient-8-3-hex { color: #1B5A6C; }
.Patient-8-4-hex { color: #C5E1CD; }
.Patient-8-5-hex { color: #D9853B; }



























/* Color Theme Swatches in RGBA */
.Patient-8-1-rgba { color: rgba(168, 235, 179, 1); }
.Patient-8-2-rgba { color: rgba(86, 142, 140, 1); }
.Patient-8-3-rgba { color: rgba(26, 89, 107, 1); }
.Patient-8-4-rgba { color: rgba(196, 225, 205, 1); }
.Patient-8-5-rgba { color: rgba(216, 133, 59, 1); }

/* Color Theme Swatches in HSLA */
.Patient-8-1-hsla { color: hsla(0, 62, 79, 1); }
.Patient-8-2-hsla { color: hsla(0, 24, 45, 1); }
.Patient-8-3-hsla { color: hsla(0, 60, 26, 1); }
.Patient-8-4-hsla { color: hsla(0, 31, 82, 1); }
.Patient-8-5-hsla { color: hsla(0, 67, 54, 1); }


/* -------------------------------------------------------------------- */


.color {color: #56878E; }
.color {color: #1B545C; }
.color {color: #356D75; }
.color {color: #82A8AD; }
.color {color: #B9D1D4; }
.color {color: #E8928B; }
.color {color: #97322A; }
.color {color: #BF5C54; }
.color {color: #FFC3BE; }
.color {color: #FFE0DE; }
.color {color: #E8CB8B; }
.color {color: #97742A; }
.color {color: #BF9D54; }
.color {color: #FFEABE; }
.color {color: #FFF4DE; }



.color {color: #CE738F; }
.color {color: #831E3D; }
.color {color: #A94362; }
.color {color: #E8A4B9; }
.color {color: #F3CDD8; }
.color {color: #CEDF7C; }
.color {color: #7B8D20; }
.color {color: #A4B748; }
.color {color: #EBF8AF; }
.color {color: #F4FBD4; }
.color {color: #589E80; }
.color {color: #176443; }
.color {color: #338260; }
.color {color: #85BCA4; }
.color {color: #B9DBCC; }



.color {color: #997067; }
.color {color: #FFE4DE; }
.color {color: #E6BBB1; }
.color {color: #579981; }
.color {color: #B1E6D2; }



/* Color Theme Swatches in Hex */
.Copy-of-Pastels-1-hex { color: #F8B195; }
.Copy-of-Pastels-2-hex { color: #F67280; }
.Copy-of-Pastels-3-hex { color: #C06C84; }
.Copy-of-Pastels-4-hex { color: #6C5B7B; }
.Copy-of-Pastels-5-hex { color: #355C7D; }

/* Color Theme Swatches in RGBA */
.Copy-of-Pastels-1-rgba { color: rgba(247, 177, 149, 1); }
.Copy-of-Pastels-2-rgba { color: rgba(246, 114, 128, 1); }
.Copy-of-Pastels-3-rgba { color: rgba(191, 107, 131, 1); }
.Copy-of-Pastels-4-rgba { color: rgba(107, 91, 123, 1); }
.Copy-of-Pastels-5-rgba { color: rgba(52, 91, 124, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-Pastels-1-hsla { color: hsla(0, 87, 77, 1); }
.Copy-of-Pastels-2-hsla { color: hsla(0, 88, 70, 1); }
.Copy-of-Pastels-3-hsla { color: hsla(0, 39, 58, 1); }
.Copy-of-Pastels-4-hsla { color: hsla(0, 14, 41, 1); }
.Copy-of-Pastels-5-hsla { color: hsla(0, 40, 34, 1); }





/* Color Theme Swatches in Hex */
.top-view-Medical---colorful-pastel-paper-for-background-1-hex { color: #C9D3F2; }
.top-view-Medical---colorful-pastel-paper-for-background-2-hex { color: #52E2F2; }
.top-view-Medical---colorful-pastel-paper-for-background-3-hex { color: #ACF2DE; }
.top-view-Medical---colorful-pastel-paper-for-background-4-hex { color: #F2EB8D; }
.top-view-Medical---colorful-pastel-paper-for-background-5-hex { color: #F2E399; }

/* Color Theme Swatches in RGBA */
.top-view-Medical-----paper-for-background-1-rgba { color: rgba(201, 211, 242, 1); }
.top-view-Medical-----paper-for-background-2-rgba { color: rgba(82, 226, 242, 1); }
.top-view-Medical-----paper-for-background-3-rgba { color: rgba(171, 242, 222, 1); }
.top-view-Medical-----paper-for-background-4-rgba { color: rgba(242, 235, 140, 1); }
.top-view-Medical-----paper-for-background-5-rgba { color: rgba(242, 227, 152, 1); }

/* Color Theme Swatches in HSLA */
.top-view-Medical----pastel-paper-for-background-1-hsla { color: hsla(224, 61, 86, 1); }
.top-view-Medical----pastel-paper-for-background-2-hsla { color: hsla(185, 86, 63, 1); }
.top-view-Medical----pastel-paper-for-background-3-hsla { color: hsla(163, 73, 81, 1); }
.top-view-Medical----pastel-paper-for-background-4-hsla { color: hsla(56, 79, 75, 1); }
.top-view-Medical----pastel-paper-for-background-5-hsla { color: hsla(50, 77, 77, 1); }


/*-----------------------------------------------------------------------------


/* Color Theme Swatches in Hex */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-hex { color: #A8D93C; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-hex { color: #F1B505; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-hex { color: #F09F04; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-hex { color: #BE8D62; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-hex { color: #BC1B1A; }

/* Color Theme Swatches in RGBA */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-rgba { color: rgba(168, 216, 59, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-rgba { color: rgba(240, 181, 4, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-rgba { color: rgba(239, 158, 4, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-rgba { color: rgba(189, 140, 98, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-rgba { color: rgba(188, 26, 26, 1); }

/* Color Theme Swatches in HSLA */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-hsla { color: hsla(0, 67, 54, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-hsla { color: hsla(0, 95, 48, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-hsla { color: hsla(0, 96, 47, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-hsla { color: hsla(0, 41, 56, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-hsla { color: hsla(0, 75, 41, 1); }
