/* Color Theme Swatches in Hex */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-hex { color: #A8D93C; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-hex { color: #F1B505; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-hex { color: #F09F04; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-hex { color: #BE8D62; }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-hex { color: #BC1B1A; }

/* Color Theme Swatches in RGBA */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-rgba { color: rgba(168, 216, 59, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-rgba { color: rgba(240, 181, 4, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-rgba { color: rgba(239, 158, 4, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-rgba { color: rgba(189, 140, 98, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-rgba { color: rgba(188, 26, 26, 1); }

/* Color Theme Swatches in HSLA */
.abnehmen-gesunde-lebensmittelgettyimages-883886156-1-hsla { color: hsla(0, 67, 54, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-2-hsla { color: hsla(0, 95, 48, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-3-hsla { color: hsla(0, 96, 47, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-4-hsla { color: hsla(0, 41, 56, 1); }
.abnehmen-gesunde-lebensmittelgettyimages-883886156-5-hsla { color: hsla(0, 75, 41, 1); }
